SECRET_KEY=
GHUSER=zhenzhenwq
GHBEARER=
GENURL=https://120.55.0.199
ZIP_PASSWORD=
GHBRANCH=master
PROTOCOL=https
REPONAME=rdgen
SH_SECRET=
API_SHARED_SECRET=
SQLITE_PATH=/opt/rdgen/data/db.sqlite3
ALLOWED_HOSTS=120.55.0.199,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://120.55.0.199
HTTPS_ENABLED=True
SESSION_COOKIE_AGE=28800
SECURE_HSTS_SECONDS=300
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=
EMAIL_VERIFICATION_CODE_TTL_SECONDS=300
EMAIL_VERIFICATION_RESEND_SECONDS=60
EMAIL_VERIFICATION_EMAIL_HOURLY_LIMIT=5
EMAIL_VERIFICATION_IP_HOURLY_LIMIT=20
EMAIL_VERIFICATION_MAX_ATTEMPTS=5
PIP_INDEX_URL=https://pypi.org/simple
PIP_TRUSTED_HOST=
