SECRET_KEY=
GHUSER=zhenzhenwq
GHBEARER=
GENURL=https://120.55.0.199
ZIP_PASSWORD=
GHBRANCH=master
PROTOCOL=https
REPONAME=rdgen
SH_SECRET=
API_SHARED_SECRET=
SQLITE_PATH=/opt/rdgen/data/db.sqlite3
ALLOWED_HOSTS=120.55.0.199,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://120.55.0.199
HTTPS_ENABLED=True
SESSION_COOKIE_AGE=28800
SECURE_HSTS_SECONDS=300
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
PIP_INDEX_URL=https://pypi.org/simple
PIP_TRUSTED_HOST=
